############################################################
# macOS flotsam
############################################################
.DS_Store

############################################################
# Xcode – build products & transient state
############################################################
build/
DerivedData/

# Per-developer settings that change constantly
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/**

*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Miscellaneous project artefacts
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcresult

############################################################
# Swift & iOS packaging
############################################################
*.ipa
*.dSYM.zip
*.dSYM

############################################################
# Swift Playgrounds
############################################################
timeline.xctimeline
playground.xcworkspace

############################################################
# Swift Package Manager
############################################################
.swiftpm/
.build/
/Packages/          # uncomment if you prefer **not** to vendor dependencies
#.package.resolved   # usually committed to lock versions; ignore if you wish

############################################################
# CocoaPods
############################################################
#Pods/               # leave commented if you commit vendor code
*.xcworkspace        # generated by `pod install` when Pods/ is ignored

############################################################
# Carthage
############################################################
#Carthage/Build/
#Carthage/Checkouts/

############################################################
# fastlane artefacts
############################################################
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

############################################################
# Editor miscellany
############################################################
.idea/
.vscode/
*.swp
